.editor {
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    border-radius: 2px;
    padding: 20px;
    box-shadow: inset 0px 1px 8px -3px black;
    background: #fefefe;
    position: relative;
    width: 85%;
    left: 5%;
    bottom: 30px;

}

.editor :global(.public-DraftEditor-content) {
    min-height: 20px;
    margin-left: 20px;
    align-self: center;


}